

.card {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    transform-style: revert;
    perspective: 50px;
    transition: 0.5ms;
}

.card:hover .card-front {
    transform: rotateX(-180deg);
}

.card:hover .card-back {
    transform: rotateX(0deg);
}

.card-front {
    height: 300px;
    width: 300px;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddd;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.6s;

}

.card-back {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddd;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.6s;
    color: #000;
    text-align: center;
}

.card-back > a {
    margin: auto;
    top: 0.5em;
    font-size: 2px;
    color: #F06449;

}

.card-img {
    width: 300px;
    height: 300px;
    padding: 2px;
}


.content {
    display: none;
}



.loader {
    height: 200px;
    width: 200px;
    border: 20px solid crimson;
    border-top-color: yellow;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}
