
html{
    scroll-behavior: smooth;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

nav{
    background-color: black;
    text-decoration: red;
}
/*
form
*/

#newMovie {
    display: none;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#reset {
    width: 50%;
}

#info {
    width: 50%;
}

.btns {
    width: 100%;
    margin: 0;
    padding: 0;
}

#newMovie>form{
    width: 100%;
}


.clickable {
    margin: 7px 0;
    color: #fff;
    font-size: 2em;
}

.clickable:hover,
.clickable:focus {
    color: #000 !important;
    text-decoration: none;
    cursor: pointer;
}

input:invalid {
    animation: shake 300ms;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(4px);
    }
}


/*
delete form
*/

#deleteOneMovie {
    display: none;
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%
}

.close-model {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-model:hover,
.close-model:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
movies
*/

#movies {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 9em;

}

.title-cards {
    width: 100%;
    margin-top: 2em;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;

    /*overflow: hidden;*/
    background-color: #000000;
}

.groudon {
    border-radius: 5%;
    margin-top: 20px;
    margin-left: 20px;
    width: 320px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: 'Nothing You Could Do', cursive;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #F76E11;
    outline: none;
    text-shadow: 0 0 20px crimson,
    0 0 20px crimson,
    0 0 10px crimson,
    5px -10px 10px orange,
    -5px -10px 10px yellow;
    animation: 2s fire infinite alternate linear;
    font-style: italic;
}

@keyframes fire {
    0% {
        text-shadow: 0 10px 20px crimson,
        0 0 20px red,
        0 0 10px orange,
        0 0 10px darkorange,
        -5px -5px 5px yellow,
        -10px -10px 10px yellow;
    }
    25% {
        text-shadow: 0 10px 20px crimson,
        0 0 20px red,
        0 0 20px orange,
        -5px -5px 5px yellow,
        5px -10px 5px yellow,
        -5px -10px 10px yellow;
    }

    50% {
        text-shadow: 0 10px 20px crimson,
        0 0 20px red,
        0 0 10px orange,
        0 0 10px darkorange,
        -5px -5px 5px yellow,
        -10px -10px 10px yellow;
    }
    75% {
        text-shadow: 0 10px 20px crimson,
        0 0 20px red,
        0 0 10px orange,
        -5px 5px 5px yellow,
        5px -10px 10px yellow,
        -5px -10px 10px yellow;
    }
    100% {
        text-shadow: 0 10px 20px crimson,
        0 0 20px red,
        0 0 10px orange,
        0 0 10px darkorange,
        -5px -5px 5px red,
        -10px -10px 10px yellow;
    }
}


.card {
    height: 18em;
    width: 70%;
    margin: 0 auto;
    transform-style: revert;
    perspective: 300px;
    transition: 0.5ms;
    background-color: #000;
}

.card:hover .card-front {
    transform: rotateX(-180deg);
}

.card:hover .card-back {
    transform: rotateX(0deg);
}

.card-front {
    height: 100%;
    width: 100%;
    background-position: 20% 20%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(43deg, #000000 0%, #000000 22%, #ce2323 49%, #df950f 75%, #fbff3b 100%);
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: crimson;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.6s;
    color: #000;
    text-align: center;
}

.card-back > a {
    margin: auto;
    top: 0.5em;
    font-size: 1em;
    color: #F06449;

}

.card-img {
    width: 40%;
    height: 90%;
}


.content {
    display: none;
}

details{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
    padding: 1em;
}

.loader {
    height: 200px;
    width: 200px;
    border: 20px solid crimson;
    border-top-color: yellow;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


/*
form
*/
#newMovie {
    display: none;
    width: 50%;
    margin: 0 auto;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


#reset {
    width: 30%;
}

#info {
    width: 30%;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em;
}

#deleteOneMovie {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.clickable {
    margin: 7px 0;
}

.clickable:hover,
.clickable:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

input:invalid {
    animation: shake 300ms;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(4px);
    }
}


/*
delete form
*/
#deleteOneMovie {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color:crimson;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%
}

.close-model {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-model:hover,
.close-model:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/***************************************************************/
/***************************************************************/
/***************************************************************/

@media (min-width: 768px) {

    .groudon {
        border-radius: 5%;
        margin-top: 20px;
        margin-left: 360px;
        margin-bottom: 40px;
        width: 700px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        font-family: 'Nothing You Could Do', cursive;
        font-size: xxx-large;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 40px;
        color: #F76E11;
        outline: none;
        text-shadow: 0 0 20px crimson,
        0 0 20px crimson,
        0 0 10px crimson,
        5px -10px 10px orange,
        -5px -10px 10px yellow;
        animation: 2s fire infinite alternate linear;
        font-style: italic;
    }

}
@media (max-width: 600px) {
    .fire{
        font-size: 2em;
        margin: 2em 1em;
    }
    .groudon{
        margin: 0 auto;
    }

}





/*
movie cards
*/

.movie-plot, summary, h3, label, .title-cards, h6{
    color: #fff;
 }


/*
editBtn
*/

.edit-movie{
    width: 10%;
}
.edit-movie:hover{
    background-color: #F06449;
}

/*
BTN Top
*/

#btn {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 2%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #242424;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 15px;
}

#btn:hover {
    background-color: #F06449;
    color: #dddddd;
}


/*
Stars section
*/


.takeoff {
    position: absolute;
    width: 100%;
    /*height: 1000000%;*/
    /*background: #1A1A40;*/
    overflow: hidden;
    /*display: flex;*/
    justify-self: start;
}

j {
    position: absolute;
    top: -400px;
    background: linear-gradient(180deg, rgba(1,0,13,1) 18%, rgba(163,109,4,1) 42%, rgba(200,31,31,1) 69%, rgba(255,0,0,1) 100%);
    animation: animateStars linear infinite;
    z-index: -1;
}

@keyframes animateStars {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(200vh);
    }
}


.navbar-toggler{
    background-color: white;
}

.groudon{
    margin: 0 auto;
}




@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 0 auto;
    }

    #nav1{
        display: none;
    }
}



#moviesRapid{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}














